body {
    background-image: url('IMG_5942.JPG');
    background-color: silver;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1.header {
    text-align: center;
    font-size: 60px;
    font-family: 'Luminari', fantasy;
    background: linear-gradient(to left,
            rgba(128,128,128,0),
            rgba(128,128,128,0.4),
            silver,
            ghostwhite,
            silver,
            silver,
            silver,
            ghostwhite,
            silver,
            rgba(128,128,128,0.4),
            rgba(128,128,128,0));
}
.subtitty {
    font-size: 30px;
    font-family: 'Luminari', fantasy;
}

/* div.nav {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(to bottom,
    rgba(248,248,225,0),
    rgba(15, 225, 0, 0.8),
    rgba(248,248,225,0.8),
    ghostwhite,
    ghostwhite,
    rgba(248,248,225,0.8),
    rgba(15, 225, 0, 0.8),
    rgba(248,248,225,0));
    padding-top: 10px;
    padding-bottom: 10px;
}
a.nav {
    font-size: 30px;
    font-family: 'Luminari', fantasy;
    color: black;
    position: relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}
a.nav:hover {
    color: blue;
} */

div.nav {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 75%;
    margin: 0;
    margin-left: 17%;
    /* background-color: silver; */
    background: linear-gradient(to bottom,
    rgba(248,248,225,0),
    rgba(15, 225, 0, 0.8),
    rgba(248,248,225,0.8),
    ghostwhite,
    ghostwhite,
    rgba(248,248,225,0.8),
    rgba(15, 225, 0, 0.8),
    rgba(248,248,225,0));
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
}
a.nav {
    font-size: 30px;
    font-family: 'Luminari', fantasy;
    color: black;
    position: relative;
    display: inline-block;
    left: 5%;
    margin-left: 40px;
    margin-right: 40px;
}
a.nav:hover {
    color: blue;
}
img.nav {
    display: inline;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 1%;
    top: 8.7%;
    width: 20%;
    transform: scaleX(-1);
    z-index: 1;
}

div.navf {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 75%;
    margin: 0;
    margin-left: 17%;
    /* background-color: silver; */
    background: linear-gradient(to bottom,
    rgba(248,248,225,0),
    rgba(225, 0, 0, 0.8),
    rgba(248,248,225,0.8),
    ghostwhite,
    ghostwhite,
    rgba(248,248,225,0.8),
    rgba(225, 0, 0, 0.8),
    rgba(248,248,225,0));
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
}
img.navf {
    display: inline;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 1%;
    top: 17.2%;
    width: 19%;
    z-index: 1;
}


a.home {
    position: relative;
    display: block;
    left: 47.5%;
    width: 5%;
    font-size: 30px;
    font-family: 'Luminari', fantasy;
    color: black;
}
a.home:hover {
    background: none;
    color: blue;
}

p.intro {
    background: linear-gradient(to left,
            rgba(128,128,128,0),
            rgba(128,128,128,0.8),
            silver,
            ghostwhite,
            silver,
            silver,
            silver,
            ghostwhite,
            silver,
            rgba(128,128,128,0.8),
            rgba(128,128,128,0));
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 80%;
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    font-size: 20px;
    font-family: 'Luminari', fantasy;
    color: black;
}
b.ourstory {
    font-size: 30px;
    font-family: 'Luminari', fantasy;
}

img.ali {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 20%;
}
img.max {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    width: 20%;
}

a.site {
    position: relative;
    color: black;
    text-align: left;
    left: 0;
}
a.site:hover {
    background: none;
    color: blue;
}

ul.mov {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 30px;
    font-family: 'Luminari', fantasy;
    text-align: left;
    font-size: 20px;
    color: black;
    list-style-position: inside;
    background: linear-gradient(to left,
    rgba(128,128,128,0),
    rgba(128,128,128,0.8),
    silver,
    ghostwhite,
    silver,
    silver,
    silver,
    ghostwhite,
    silver,
    rgba(128,128,128,0.8),
    rgba(128,128,128,0));
}
li.mov {
    position: relative;
    left: 33%;
    width: 50%;
    margin: 0;
}
li.fmov {
    position: relative;
    left: 40%;
    width: 50%;
    margin: 0;
}
i.sub {
    font-size: 15px;
    position: relative;
    left: 35%;
}
img.linksym {
    height: 18px;
    width: 18px;
    position: relative;
    display: inline;
    vertical-align: middle;
}


div.alph {
    position: fixed;
    bottom: 0;
    right: 0;
    display: block;
    width: 65px;
    margin: auto;
    padding: 0;
}
ul.alph {
    padding: 0px;
    background: rgba(192,192,192,0.8);
    width: auto;
    text-align: center;
    list-style-position: inside;
    margin: 0;
}
a.alph {
    font-size: 10px;
    color: black;
}
li.alph {
    list-style-type: circle;
}
li.alph:hover {
    list-style-type: disc;
}